# Archivos y carpetas del sistema
.DS_Store
Thumbs.db

# Configuraciones de editores
.vscode/
.idea/

# Archivos temporales / de caché
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de compilación / build (si se usan)
dist/
build/

# Dependencias (en caso de usar Node en el futuro)
node_modules/

# Archivos de preprocesadores (Sass, Less, etc.) generados automáticamente
*.css.map
*.sass-cache
*.scssc

# Archivos de entorno (si se llegaran a usar)
.env
.env.local
.env.*.local

# Otros
*.swp
*.tmp